@font-face {
    font-family: 'Normalidad';
    src: url('NormalidadCompact-Regular.woff2') format('woff2'),
        url('NormalidadCompact-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}