@use "variables"as *;
@import url("./variables.scss");

h1,
.h1,
.text-content h1 {
    font-family: var(--font);
    font-size: var(--font-h1);
    font-weight: 400;
    line-height: 1.32;
}

h2,
.h2,
.text-content h2,
.text-content .h2 {
    font-family: var(--font);
    font-size: var(--font-h2);
    font-weight: 400;
    line-height: 1.22;
}



.text-content p {
    font-size: 1rem;
    line-height: 1.6;

    &:not(:last-child) {
        margin-bottom: clamp(0.75rem, 0.4713rem + 1.2739vw, 2rem);
    }
}

.caption-text {
    font-size: var(--font-caption);
    line-height: 1.32;
    text-transform: uppercase;
    color: var(--clr-text-secondary);
    letter-spacing: 0.7px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.5s;
    font-size: var(--font-p);
    line-height: 1.28;

    &-primary {
        border-radius: 100px;
        padding: 12px 24px;
        color: var(--clr-main-orange);
        background: var(--clr-light-orange);

        &:hover {
            color: var(--clr-bg);
            background: var(--clr-main-orange);
        }

        &:disabled,
        &[disabled] {
            color: var(--clr-middle-orange);
            background: var(--clr-light-orange);
            pointer-events: none;
        }
    }

    &-alert {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid var(--clr-bg);
            background: var(--clr-main-red);
            top: 1px;
            right: 4px;
        }
    }

    &-pink {
        border-radius: 100px;
        padding: 12px 24px;
        color: var(--clr-main-pink);
        background: var(--clr-light-pink);

        &:hover {
            color: var(--clr-bg);
            background: var(--clr-main-pink);
        }

        &:disabled,
        &[disabled] {
            color: var(--clr-middle-pink);
            background: var(--clr-light-pink);
            pointer-events: none;
        }
    }

    &-red {
        border-radius: 100px;
        padding: 12px 24px;
        color: var(--clr-main-red);
        background: var(--clr-bg);

        &:hover {
            color: var(--clr-bg);
            background: var(--clr-main-red);
        }

        &:disabled,
        &[disabled] {
            color: var(--clr-middle-red);
            background: var(--clr-light-bg);
            pointer-events: none;
        }
    }

    &-icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: var(--clr-icon);
        background: var(--clr-bg);

        &:hover {
            color: var(--clr-text-main);
            background: var(--clr-bg);
        }
    }

    &-social {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        color: var(--clr-main-orange);
        background: var(--clr-light-orange);

        &:hover {
            color: var(--clr-bg);
            background: var(--clr-main-orange);
        }
    }

}

.btn-burger {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--clr-light-orange);
    border-radius: 50%;

    & span.lines {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .line {
            display: block;
            position: absolute;
            height: 2px;
            border-radius: 2px;
            background: var(--clr-main-orange);
            transition: all 0.3s;
            transform-origin: center;
            transform: translateX(-50%);

            &:first-child {
                width: 16px;
                top: calc(50% - 4px);
            }

            &:nth-child(2) {
                width: 16px;
                bottom: calc(50% - 4px);
            }
        }
    }

    &:hover {
        background: var(--clr-main-orange);

        & span.lines {
            & .line {
                background: var(--clr-bg);
            }
        }
    }

    &.active {
        background: var(--clr-main-orange);

        & span.lines {
            gap: 0;

            & .line {
                background: var(--clr-bg);
                transform-origin: center;
                transform: translateX(-50%);

                &:first-child {
                    transform: translateX(-50%) translateY(-50%) rotate(45deg);
                    width: 20px;
                    top: calc(50%);
                }

                &:last-child {
                    transform: translateX(-50%) translateY(50%) rotate(-45deg);
                    width: 20px;
                    bottom: calc(50%);
                }
            }
        }
    }
}

.link {
    font-weight: 400;
    font-size: var(--font-p);
    line-height: 1;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 25%;
    text-decoration-thickness: 12.5%;
    transition: 0.5s;
    letter-spacing: 0.7px;
    cursor: pointer;

    &-primary {
        color: var(--clr-text-middle-grey);
        text-decoration-color: #C9C9C9;

        &:hover,
        &.active {
            color: var(--clr-main-orange);
            text-decoration-color: var(--clr-main-orange);
        }
    }

    &-secondary {
        color: var(--clr-text-middle-grey);
        text-decoration-color: #C9C9C9;
        opacity: 0.6;

        &:hover,
        &.active {
            color: var(--clr-main-orange);
            text-decoration-color: var(--clr-main-orange);
            opacity: 1;
        }
    }

    &-white {
        color: var(--clr-bg);
        text-decoration-color: rgba($color: #ffffff, $alpha: 0.5);
        opacity: 0.8;

        &:hover,
        &.active {
            text-decoration-color: rgba($color: #ffffff, $alpha: 1);
            opacity: 1;
        }

    }

    &-icon {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        line-height: 1.28;

        & .icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: var(--clr-border);
            transition: .5s;
            pointer-events: none;
        }

        &:hover,
        &.active {
            color: var(--clr-main-orange);

            & .icon {
                background: var(--clr-light-orange);
            }
        }
    }
}

body {
    width: 100%;
    height: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: var(--font);
    background: var(--clr-bg);
    min-width: 350px;
    overflow-x: hidden;
    letter-spacing: 0.7px;
}

.hidden {
    overflow: hidden;
}

.main {
    flex-grow: 1;
    padding: 8px;
    padding-left: 0;
    grid-area: main;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-main);
    background: var(--clr-bg-milk);
    display: flex;
    gap: 1.5rem;
    padding: 16px 16px 24px 16px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    display: grid;
    grid-template-areas:
        "header main"
        "footer main";
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 75px;
}

.page-layout {}


.section {
    padding: 16px;
    width: 100%;

    &-white {
        background: var(--clr-bg);
    }

    &-round {
        border-radius: var(--radius-section);
    }
}

.avatar {
    display: flex;
    align-items: center;
    gap: 12px;

    &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--clr-main-pink);
    }

    &__name {
        font-size: 0.875rem;
        line-height: 1.28;
        color: var(--clr-text-middle-grey);
    }
}

.region {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px 8px 24px;
    background: var(--clr-bg-milk);
    color: var(--clr-text-middle-grey);
    border-radius: 32px;
    font-size: 0.875rem;
    line-height: 1.28;

    & .link {
        color: var(--clr-text-main);

        & .icon {
            width: 36px;
            height: 36px;
            color: var(--clr-text-middle-grey);
        }

        &:hover {
            color: var(--clr-main-orange);

            & .icon {
                color: var(--clr-main-orange);
            }
        }
    }
}

.tag {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--clr-bg);
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(12px);
    font-size: 0.875rem;
    line-height: 1.28;
    letter-spacing: .5px;

}

.apps-tag {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    font-size: 0.875rem;
    line-height: 132%;
    text-align: center;
    text-transform: uppercase;

    &.approve {
        color: var(--clr-main-green);
        background: var(--clr-light-green);
    }

    &.process {
        color: var(--clr-main-yellow);
        background: var(--clr-light-yellow);
    }

    &.decline {
        color: var(--clr-main-red);
        background: var(--clr-light-red);
    }

    &.completed {
        color: var(--clr-bg);
        background: var(--clr-main-green);
    }

    &.draft {
        color: var(--clr-bg);
        background: var(--clr-icon);
    }
}

.filter-tab {
    display: flex;
    width: auto;
    position: relative;
    font-size: 14px;
    line-height: 1.28;
    vertical-align: middle;
    color: var(--clr-text-dark-grey);
    cursor: pointer;

    &:hover {
        & span {
            background: var(--clr-border);
        }
    }

    & input {
        position: absolute;
        opacity: 0;
        visibility: hidden;

        &:checked+span {
            background: var(--clr-border);
        }
    }

    & span {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 100px;
    }
}