@use "sass:math";
@use "sass:string";

:root {
  --font: "Normalidad", sans-serif;

  --font-h1: 1.25rem;
  --font-h2: 1rem;
  --font-p: 0.875rem;
  --font-caption: 0.75rem;

  --clr-main-orange: #FF5100;
  --clr-middle-orange: #FFA880;
  --clr-light-orange: #FFE7DB;

  --clr-main-green: #02AA03;
  --clr-middle-green: #80D581;
  --clr-light-green: #DCF3DC;

  --clr-main-yell: #F6D214;
  --clr-middle-yell: #FBE989;
  --clr-light-yell: #FEF9DE;

  --clr-main-blue: #0986EB;
  --clr-middle-blue: #84C3F5;
  --clr-light-blue: #DDEEFC;

  --clr-main-red: #FF0038;
  --clr-middle-red: #FF809B;
  --clr-light-red: #FFDBE3;

  --clr-main-pink: #FF85C0;
  --clr-middle-pink: #FFC2DF;
  --clr-light-pink: #FFEEF6;

  --clr-main-violet: #924CD6;
  --clr-middle-violet: #E4D2F5;
  --clr-light-violet: #F0E6F9;

  --clr-bg: #ffffff;
  --clr-bg-milk: #FBFAF8;

  --clr-text-main: #181D27;
  --clr-text-dark-grey: #535862;
  --clr-text-middle-grey: #878787;
  --clr-icon: #A3A3A3;
  --clr-border: #EFEFEF;

}

@function auto-clamp($min, $max, $unit: vw) {
  $max-breakpoint: 1920;
  $min-breakpoint: 350;
  $slope: math.div($max - $min, $max-breakpoint - $min-breakpoint);

  $slope-to-unit: $slope * 100;

  $intercept: $min - $slope * $min-breakpoint;

  @return clamp(#{$min}px, #{$slope-to-unit}#{$unit} + #{$intercept}px, #{$max}px);
}