<div class="help__widget">
    <div class="help__widget_title">
        <h2 class="h1">Как вам помочь?</h2>
    </div>
    <div class="help__widget_tags">
        <div class="tag">Нужна финансовая поддержка</div>
        <div class="tag">Нужна моральная поддержка</div>
        <div class="tag">Хочу поговорить</div>
        <div class="tag">Хочу на мероприятие</div>
        <div class="tag">Нужна мед. помощь</div>
    </div>
    <div class="help__widget_link">
        <a href="#" class="link link-white">Связаться с поддержкой</a>
    </div>
</div>