.apps {
    padding-top: 2rem;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        padding: 0 16px;
    }

    &__filter {
        padding: 0 16px;
        margin-bottom: 24px;
        width: 100%;
        display: grid;

        &_list {
            // display: flex;
            align-items: center;
            width: 100%;
            gap: 4px;

            & .swiper-slide {
                width: auto;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 12px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        border-radius: 32px;
        border: 4px solid var(--clr-border);
        padding: 10px;
        cursor: pointer;
        transition: .5s;

        &:hover {
            border-color: var(--clr-main-orange);
        }

        &.approve {

            & .apps-icon {
                color: var(--clr-main-blue);
                background: var(--clr-light-blue);
            }

        }

        &.process {
            & .apps-icon {
                color: var(--clr-main-pink);
                background: var(--clr-light-pink);
            }
        }

        &.decline {
            & .apps-icon {
                color: var(--clr-main-violet);
                background: var(--clr-light-violet);
            }
        }

        &.completed {
            & .apps-icon {
                color: var(--clr-main-red);
                background: var(--clr-light-red);
            }
        }

        &.draft {
            & .apps-icon {
                color: var(--clr-main-green);
                background: var(--clr-light-green);
            }
        }

        &_heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_title {
            padding: 10px 8px;
        }

        &_links {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &_link {
            padding: 10px 8px;
        }
    }

    &-icon {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &__widget {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: space-between;
        gap: 12px;
        border-radius: 32px;
        border: 4px solid var(--clr-light-pink);
        padding: 10px;
        background: var(--clr-middle-pink);
        color: var(--clr-main-red);
        transition: .5s;
        aspect-ratio: 335 / 170;

        &_title {
            padding: 8px;
        }

        &:hover {
            border-color: var(--clr-main-pink);

            & .btn {
                background: var(--clr-main-red);
                color: var(--clr-bg);
            }
        }
    }
}



@media screen and (max-width:576px) {
    .apps {

        &__heading {
            padding: 0 4px;
            margin-bottom: 26px;
        }

        &__filter {
            padding: 0 4px;
            margin-bottom: 20px;
        }

        &__list {
            gap: 15px;
        }

        &__card {
            border-radius: 24px;
            border-width: 3px;
            padding: 12px;

            &_links {
                padding-left: 6px;
            }
        }

        &__widget {
            border-radius: 24px;
            border-width: 3px;
            padding: 12px;
        }
    }

}