<header class="header {{page ? 'index' : ''}}">
    <div class="container">
        <div class="header__row">
            <div class="header__col">
                <button class="btn btn-sm btn-quad btn-with_border burger_btn">
                    <span class="lines">
                        <span class="line"></span><span class="line"></span>
                    </span>

                </button>
                <a href="/" class="logo">
                    <img src="/assets/img/icons/logo.svg" width="112" height="44" loading="lazy" alt="logo image">
                </a>
            </div>

        </div>
    </div>
</header>