<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Simex-chem</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.svg" type="image/x-icon">
    <!-- Общие стили -->
    <link rel="stylesheet" href="/assets/index.css" />
    <block name="styles"></block>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

    <block name="content"></block>
    <!-- Скрипты компонентов -->
    <script src="/assets/index.js"></script>

    <!-- Скрипты страницы -->
    <block name="scripts"></block>

</body>

</html>