<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bighearts | главная</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.svg" type="image/x-icon">
    <!-- Общие стили -->
    <link rel="stylesheet" href="/assets/index.css" />
    <block name="styles"></block>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div id="wrapper" class="wrapper">
        <include src="components/header/header.html" locals='{"page":"index"}'></include>

        <main class="main">
            <div class="main-wrapper">
                <div class="main-content">
                    <block name="content"></block>
                </div>
                <include src="components/events/events.html"></include>
            </div>
        </main>
        <include src="components/footer/footer.html"></include>
    </div>

    <!-- Скрипты компонентов -->
    <script src="/assets/index.js"></script>

    <!-- Скрипты страницы -->
    <block name="scripts"></block>

</body>

</html>